[user]
  name = Alexander Gharibian
  email = alexandergharibian@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[core]
  pager = less -iXfr
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  editor = "vim"

[alias]
  co = checkout
  cm = commit
  br = branch
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset (%aN <%aE>)' --abbrev-commit --date=relative
  personal = config user.email \"alexandergharibian@gmail.com\"
  tidy = "!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -d"
  brs = "!f() { \
        git branch --sort=-committerdate --format='%(refname:short)' | \
        fzf --height=40% --reverse --info=inline \
        --preview 'git log -1 --color=always --pretty=format:\"%C(yellow)%h%C(reset) %C(blue)%ci%C(reset) %C(bold green)%an%C(reset)%n%C(white)%s%C(reset) %C(dim white)%d%C(reset) %n %n %C(reset)%b\" {}' | \
        xargs -r git checkout; \
    }; f"
  abrs = "!f() { \
    sel=$(git branch -a --sort=-committerdate --format='%(refname:short)' | \
      fzf --height=40% --reverse --info=inline \
      --preview 'git log -1 --color=always --pretty=format:\"%C(yellow)%h%C(reset) %C(blue)%ci%C(reset) %C(bold green)%an%C(reset)%n%C(white)%s%C(reset) %C(dim white)%d%C(reset) %n %n %C(reset)%b\" {}'); \
    [ -z \"$sel\" ] && exit 0; \
    if [[ \"$sel\" == origin/* ]]; then \
      bn=${sel#origin/}; \
      git switch -c \"$bn\" --track \"$sel\" 2>/dev/null || git switch \"$bn\"; \
    else \
      git switch \"$sel\"; \
    fi; \
  }; f"

[diff "odf"]
  textconv=odt2txt
[filter "opendocument"]
  clean = "rezip -p ODF_UNCOMPRESS"
  smudge = "rezip -p ODF_COMPRESS"

[push]
  default = simple
  autoSetupRemote = true

[pager]
  branch = false

[fetch]
  prune = true

# Forbid myself to push to master
#[branch "master"]
#  pushRemote = no_push
#
#[branch "main"]
#  pushRemote = no_push
